user nginx;
worker_processes 4;
pid /run/nginx.pid;

events {
  worker_connections 768;
}

http {

  server_tokens off;

  upstream upstream {
  {{ if .Env.UPSTREAMS -}}
  {{ range $upstream := split .Env.UPSTREAMS "," -}}
  server {{$upstream}};
  {{ end -}}
  {{ end -}}
  }

  server {
    listen 80 default_server;
    server_name "";

    location /health-check {
      access_log off;
      return  200;
    }

    {{ if .Env.XFORWARDED_SUBNET -}}
    # Trust subnet with X-Forwarded-For header
    real_ip_header X-Forwarded-For;
    set_real_ip_from {{ .Env.XFORWARDED_SUBNET }};
    {{ end -}}

    location {{ default .Env.LOCATION "/" }} {
      {{ if .Env.ALLOWED -}}
      {{ range $addr := split .Env.ALLOWED "," -}}
      allow {{$addr}};
      {{ end -}}
      {{ end -}}

      {{ if .Env.DENIED -}}
      {{ range $addr := split .Env.DENIED "," -}}
      deny {{$addr}};
      {{ end -}}
      {{ end -}}

      proxy_pass {{ default .Env.UPSTREAM_PROTO "https"}}://upstream{{ default .Env.LOCATION "/" }};
      {{if .Env.HOST_HEADER }}proxy_set_header Host '{{ .Env.HOST_HEADER }}';{{end}}
      proxy_set_header Connection "";
      proxy_http_version 1.1;
      proxy_buffering off;
      proxy_redirect off;
      proxy_read_timeout 36000s;
      client_max_body_size 0;

      {{ if .Env.HTPASSWD -}}
      auth_basic "access";
      auth_basic_user_file /etc/nginx/htpasswd;
      {{ end }}
    }

    error_page 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 420 422 423 424 426 428 429 431 444 449 450 451 500 501 502 503 504 505 506 507 508 509 510 511 @error;
    location  @error{
      default_type text/html;
      return 502 "<h1>Bad Gateway</h1>";
    }
    log_not_found off;
  }

}
